body {

    scroll-padding-top: 100px;
}

.bg-modal {

    background-image: url(/images/bg-modal.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-header {

    background-image: url(/images/bg-header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 960px) {
    
    .bg-modal {

        background-size: cover;
    }

}

@media screen and (max-width: 768px) {

    html, body {

        font-size: 85%;
    }

}