.vale-dos-vinhedos {

    nav {
        display: flex;
        align-items: center;
        gap: 48px;

        @media screen and (max-width: 1280px) {
            gap: 16px;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        gap: 40px;

        @media screen and (max-width: 1280px) {
            gap: 16px;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    
}

.mobile-nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;


        display: flex;
        gap: 8px;
        flex-direction: column;

        li {
            font-size: 16px;
        }
    }
}

.rotate-animate {
    display: flex;
    margin-right: 4px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    animation: spin 2s infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }